node_modules
**/node_modules

# ignore other packages in monorepo
/cdk
/docs
/tests
/scripts/**
!/scripts/start.sh
.vscode

# no builds
**/build

# no logs
*.log

# docs, markdown
*.md
**/*.md

# ignore local db
/db