node_modules
**/node_modules

# ignore other packages in monorepo
/cdk
/docs
/tests
/scripts
.vscode

# ignore git
.git*
.github
.git-hooks

# no dotfiles in general
.*

# no builds
**/build

# no logs
*.log

# docs, markdown
**/*.md

# ignore local db
**/*.db

# ignore env files
.env*

# take .turbo and .svelte-kit for build cache
!.turbo
!.svelte-kit