# general ignores
.DS_Store
node_modules
*.log

# ignore all env files except the sample
.env
.env.*
!.env.sample

# notes
notes.md

# ignore all build directories
build

# ignore all turbo dot-directories
.turbo