node_modules
**/node_modules

# ignore other packages in monorepo
/cdk
/docs
/tests
.vscode

# no builds
**/build

# no logs
*.log

# docs, markdown
**/*.md

# ignore local db
**/*.db

# ignore env files
.env*